html {
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  display: block;
}

body {
  background: #fff
  height: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  width: 100%;
  text-align: center;
  float: center;
  display: flex;
}

li {
  font-family: arial,sans-serif;
}

.main-body {
  display: block;
  text-align: center;
  padding-top: 10%;
}

.top-nav {
  position: absolute;
  width: 90%;
  padding-top: 1%
}


#logo {
  width: 65%;
  height: 65%;
  align: center;
  justify-content: center;
  padding-left: 10%;
}
